note.txt
__pycache__/
*/__pycache__/
*/*/__pycache__/
env/
ENV/
.venv/
*.db
*.db-shm
*.db-wal
*.sqlite3
*.log
.cache/
.cache
.txt
cookies.txt
audio_cache
limbus_gacha_art_cache/
blue_archive_gacha_art_cache/
fgo_gacha_art_cache/
fgo_gacha_data_cache/
bd2_gacha_art_cache/
bd2_gacha_data_cache/
temp_downloads/
*.env
.xai_tokens.json
xai_tokens.json
.xai_tokens.json.lock
xai_tokens.json.lock
