note.txt
__pycache__/
*/__pycache__/
*/*/__pycache__/
env/
ENV/
.venv/
*.db
*.sqlite3
*.log
.cache/
.cache
.txt
cookies.txt
audio_cache
temp_downloads/
*.env
.xai_tokens.json
xai_tokens.json
.xai_tokens.json.lock
xai_tokens.json.lock
